.m-navbar{
    background-color: #736464;
    width:100%;
    height: 100px;
}
footer{
    position:;
    bottom: 0px;
}
.m-navbar-1{
    background-color: #736464;
    width:100%;
    height: 80px;
}