.m-navbar{
    background-color: #736464;
    width:100%;
    height: 100px;
}
footer{
    
    bottom: 0px;
}
.m-navbar-1{
    background-color: #736464;
    width:100%;
    height: 80px;
}
.bg-img{
    background-image: url(/images/Mugo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    width: 100%;
}
 .cert{
     background-image: url(/images/HTML_certificate.jpg);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     width: 100%;
     height: 300px;
 }

 .cert{
    background-image: url(/images/PHP_certificate.jpg);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.cert{
    background-image: url(/images/SQL_certificate.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.m-container{
    height: 250px;
}

